.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-hidden {
    opacity:0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

#header-text {
    position:absolute;
    margin-top: auto;
    -moz-transition:all .8s;
    -webkit-transition:all .8s;
    -o-transition:all .8s;
    transition:all .8s;
}

.intro-wrapper {
	background-color: #181A1A;
	border:2px solid #111;
    border-radius:5px;
    width: 95%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em;
    grid-template-areas: 
        "nav-wrapper"
        "content-wrapper"
    ;
}
.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom:2px solid #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-wrapper {
    grid-area: content-wrapper;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}
div.content-wrapper::-webkit-scrollbar {
    width: 5px;
}
div.content-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}
div.content-wrapper::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}
.left-column {
    padding: 10px 20px 40px 50px;
    width: 1fr;
    min-width: 1fr;
    margin: auto;
}
.right-column {
    padding: 10px 10px 40px 20px;
    margin: auto;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.contact-nav {
    padding: 10px;
}

.right-column:svg {
    border: 1px solid #fff;
}

svg {
    padding: 5px 8px;
}